.publicacion-container {
    border: 1px solid #ffb6c1; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 182, 193, 0.1); 
  }
  
  .titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #c71585; 
  }
  
  .text-rosa-oscuro {
    color: #c71585; 
  }
  
  .text-rosa-medio {
    color: #ff69b4; 
  }
  
  .text-rosa-claro {
    color: #ffc0cb; 
  }
  
  .text-rosa-palido {
    color: #be4436; 
  }
  