<!-- Utilizamos *ngFor para iterar sobre cada 'publicacion' en la lista 'publicaciones' -->
<!-- Esto significa que para cada elemento en la lista 'publicaciones', Angular creará dinámicamente un bloque de código HTML utilizando la plantilla proporcionada -->
<div *ngFor="let publicacion of publicaciones" class="publicacion-container card mb-3">
  <!-- Creamos un contenedor para cada publicación, utilizando la clase 'publicacion-container' para aplicar estilos -->
  <div class="card-body">
    <!-- Dentro del contenedor, creamos el cuerpo de la tarjeta utilizando la clase 'card-body' de Bootstrap -->
    <h2 class="card-title titulo text-rosa-oscuro">{{publicacion.title}}</h2>
    <!-- Mostramos el título de la publicación con un tamaño grande y color rosa oscuro -->
    <p class="card-text text-rosa-medio"><strong>ID:</strong> {{publicacion.id}}</p>
    <!-- Mostramos el ID de la publicación con un color rosa medio -->
    <p class="card-text text-rosa-claro"><strong>Usuario ID:</strong> {{publicacion.userId}}</p>
    <!-- Mostramos el Usuario ID de la publicación con un color rosa claro -->
    <p class="card-text text-rosa-palido"><strong>Cuerpo:</strong> {{publicacion.body}}</p>
    <!-- Mostramos el cuerpo de la publicación con un color rosa pálido -->
  </div>
</div>
