.welcome-section {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px; 
   
  }
  
  .title {
    font-size: 2.5rem;
    color: #ff3366;
    margin-bottom: 10px;
    text-decoration: none; 
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #666;
  }

  img{

    width: 200px;
    height: 200px;

  }
  