<div class="welcome-section text-center p-5">
  <h1 class="title display-4 mb-4">¡Bienvenido a Dayanna's Company!</h1>
  <p class="subtitle lead text-muted mb-4">Descubre nuestros servicios y soluciones tecnológicas.</p>
  <img src="https://imgs.search.brave.com/2jXCK9ewRt5DyxBhieDuPTJsgvyFazAcqqsQWmDdi1c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/aW1hZ2VuLXByaW1l/ci1wbGFuby1wcm9n/cmFtYWRvci10cmFi/YWphbmRvLXN1LWVz/Y3JpdG9yaW8tb2Zp/Y2luYV8xMDk4LTE4/NzA3LmpwZz9zaXpl/PTYyNiZleHQ9anBn" alt="" class="img-fluid">
</div>
