.bg-pink {
    background-color: #ff69b4; 
   
  }
  
  
  .text-pink {
    color: #ffffff; 
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: #ffcccc; 
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  main {
  
    
    padding: 2rem;
   
  }
  
  footer {
   
    padding: 1rem;
    text-align: center;
    
  }

  
  