<header class="bg-pink text-white p-3">
  <nav class="container">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-pink" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" routerLink="/nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" routerLink="/contactenos">Contáctenos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-pink" routerLink="/publicaciones">Publicaciones</a>
      </li>
    </ul>
  </nav>
</header>

<main class="container mt-5">
  <router-outlet></router-outlet>
</main>

<footer class="bg-pink text-white p-3">
  <div class="container">
    <p class="text-center m-0">Todos los derechos reservados &copy; Dayanna Valentina Rojas Rey</p>
  </div>
</footer>
