<div class="container">
    <!-- Aqui empieza la parte del formulario para contactarnos -->
    <h1 class="mt-5 text-center">Contacta con nosotros</h1>
    <!-- Etiqueta de titulo del formulario -->
  
    <form class="mt-4">
      <!-- Inicia el formulario -->
      <div class="mb-3">
        <!-- Div para el campo del nombre -->
        <label for="name" class="form-label">Nombre</label>
        <!-- Etiqueta del campo del nombre -->
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre">
        <!-- Campo de entrada para el nombre -->
      </div>
  
      <div class="mb-3">
        <!-- Div para el campo del correo electronico -->
        <label for="email" class="form-label">Correo electronico</label>
        <!-- Etiqueta del campo del correo electronico -->
        <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electronico">
        <!-- Campo de entrada para el correo electronico -->
      </div>
  
      <div class="mb-3">
        <!-- Div para el campo del mensaje -->
        <label for="message" class="form-label">Mensaje</label>
        <!-- Etiqueta del campo del mensaje -->
        <textarea class="form-control" id="message" rows="3" placeholder="Escribe tu mensaje"></textarea>
        <!-- Campo de entrada para el mensaje -->
      </div>
  
      <button type="submit" class="btn btn-primary">Enviar</button>
      <!-- Boton para enviar el formulario -->
    </form>
    <!-- Fin del formulario -->
  </div>
  <!-- Fin de la parte del formulario para contactarnos -->
