

.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #ff3366;
}

.btn-primary {
    background-color: #ff3366;
    border: none;
}

.btn-primary:hover {
    background-color: #ff6699;
}


