<div class="about-section text-center">
  <h2 class="section-title">Sobre Nosotros</h2>
  <p class="section-content">Somos una empresa líder en el desarrollo de soluciones tecnológicas innovadoras y personalizadas. Nuestro equipo de expertos trabaja arduamente para brindar a nuestros clientes la mejor experiencia posible.</p>
</div>
<div class="services-section">
  <h2 class="section-title">Nuestros Servicios</h2>
  <ul class="services-list list-unstyled">
      <li class="service-item">Desarrollo Web</li>
      <li class="service-item">Desarrollo de Aplicaciones Móviles</li>
      <li class="service-item">Diseño de Interfaces de Usuario</li>
      <li class="service-item">Soluciones en la Nube</li>
      <li class="service-item">Ciberseguridad</li>
  </ul>
</div>